@{
    var uCount = ViewBag.UsersCount;
    var cCount = ViewBag.CategoryCount;
}

<head>
    <link rel="stylesheet" href="~/Content/css/Shop/Home/Index.css">
</head>
<div class="container-fluid">
    <div class="row mt-5 justify-content-around">
        <a class="col-5 outer" style="background-color: #FEA884;" asp-action="Index" asp-controller="Account">
            <div>
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="text-white text fw-bold">Tài khoản đăng ký</div>
                        <div class="text-white count fw-bold">@uCount</div>
                    </div>
                    <div><i class="bi bi-people-fill" style="color: white;"></i></div>
                </div>

            </div>
        </a>
        <a class="col-5 outer" style="background-color: #05D78F;" asp-action="Index" asp-controller="Category">
            <div>
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="text-white text fw-bold">Danh mục</div>
                        <div class="text-white count fw-bold"> @cCount</div>
                    </div>
                    <div><i class="bi bi-bookmarks-fill" style="color: white" ;></i></div>
                </div>
            </div>
        </a>
    </div>
</div>