@model soppi.Models.ViewModel.CategoryViewModel;

<form method="post">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="number" class="form-control" asp-for="Id">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Tên nhãn</label>
        <input type="text" class="form-control" asp-for="CategoryName">
    </div>
    <button type="submit" class="btn btn-primary" asp-action="Add">Submit</button>
</form>