@model List<soppi.Models.ViewModel.ProductViewModel>
<div class="container-fluid">
    <div class="row px-5">
        @foreach (var item in Model)
        {
            <div class="col-md-2 my-1">
                <div class="product-outer">
                    <div class="product-image">
                        <img src="@item.Image" alt="Product Image">
                    </div>
                    <div class="product-details">
                        <div class="product-name">@item.ProductName</div>
                        <div class="product-price price" data-price="@item.Price">@item.Price</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Lặp qua mỗi phần tử có class là "price"
        $('.price').each(function () {
            // Lấy giá trị số từ thuộc tính data-price
            var price = parseFloat($(this).data('price'));
            // Định dạng lại số với dấu phẩy
            var formattedPrice = price.toLocaleString();
            // Gán lại văn bản đã định dạng vào phần tử
            $(this).text(formattedPrice + " đ");
        });
    });
</script>
